.header_menu{
    display: flex;
    justify-content: flex-end;
    font-family: $font-base;
    font-weight: 600;
    padding-right: 142px;
    padding-top: 20px;
    

}
.menu_first{
    color: $color-line;
    font-size: 13px;

}
.menu_second{
    color:$color-text;
    font-size: 18px;

}
.header_buttons{
    text-decoration: none;
    color:$color-line;
    padding: 10px;
}
.btns-regin{
    border:0.75px solid $color-background;
    
}
.header_buttons_second{
    margin-left: 35px;
    padding: 10px;
}
.btns-start{
    border: 0.75px solid $color-text;
}