.Login_box{
  text-align: center;
  font-family: $font-base;
  margin-top: 60px;
  width: 504px;
  position: relative;
  left: 400px;
  .Login_title{
      font-size: 40px;
      padding: 25px;
  }
  .Login_form{
      display: flex;
      justify-content: center;
      align-items: center;
    background-color: $color-base;
    width: 385px;
    height: 235px;
   margin-left: 50px;
   margin-bottom: 25px;
    font-size: 16px;
    .form_label{
        display: flex;
        padding-top:10px ;
    }
    .form_input{
        background-color: $color-base;
        border: $color-base;
        border-bottom:1px solid $color-line;
        padding: 10px;
    }

  }
  .login_buttons{
      text-decoration: none;
      background-color: white;
      color: $color-text;
      font-size: 18px;
      padding: 10px;
      
  }
  .button-zalog{
      border: 0.75px solid $color-text;
      margin-left: 165px;
  }
    
}
.icon_deco{
    padding: 40px;
}
